body {
    background-image: url("https://i.imgur.com/kjIo6bW.jpg");
    background-size: 1440px;
    margin: 0;
}


/*About page*/

.aboutText {
	margin-left: 50px;
	margin-right: 50px;
	color: #d2d1cd;
	font-size: 20px;
}

.card {
    margin: 5% 5% 5% 5%;
}

.cardTitle {
	text-align: right;
	margin-top: 20px;
	font-size: 30px;
}

.cardText {
	text-align: right;
	margin-top: 210px;
}

.cardText2 {
	text-align: right;
	margin-top: -10px;
}


/*Itinerary page*/

.card-img-top {
	height: 230px;
}

/*Book page*/

.wrapper {
    padding: 5% 5% 5% 5%;
    margin: 5% 5% 5% 5%;
    border: 1px solid #ffffff;
    border-radius: 10px;
    background-color: #707070;
    opacity: 0.5;
    z-index: -2;
}

#wrapperText {
    color: #ffffff;
    font-weight: bold;
    opacity: 1.0;
    z-index: 0;
}

#bookBtn {
    padding: 15px 20px 15px 20px;
}

/*Itinerary Page*/

.itineraryBody {
    background-image: url("https://i.imgur.com/O5JBAFZ.jpg");
    background-size: 1440px;
    margin: 0;   
}

.pointTxt {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 70px;
    margin: 10% 0 15% 30%;
}

.container {
    background-color: black;
    padding: 0 25% 5% 5%;
    margin-right: 50px;
    width: 80%;
}

.wrapper1 {
    padding: 2% 1% 1% 2%;
    margin: 5% 25% 5% 20%;
    border: 1px solid #ffffff;
    width: 60%;
    height: 7%;
    border-radius: 10px;

}

#wrapperText1 {
    color: #ffffff;
    font-weight: bold;
}

#selectBtn {
     margin: 30% 2% 2% 15%;
}
